{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<form class="row gy-2 gx-3 align-items-center w-25 p-3">
  <h1>Login</h1>
  
  {% csrf_token %}

  <div class="form-floating">
    <input type="text" class="form-control" name="username" placeholder="Username">
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" name="password" placeholder="Password">
    <label for="floatingPassword">Password</label>
    <br>
    <input type="submit" class="btn btn-primary mb-3" value="Login">
  </div>
  
    
    <p><a href="{% url 'user:register' %}">Register</a></p>
    <p><a href="{% url 'user:password_reset' %}">Reset Password</a></p>
 
  {% endblock %}
</form>