{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
  <h1>Profile</h1>
  <p>Hello, {{ user.username }}</p>
  <p><a href="{% url 'user:password_change' %}">Change Password</a></p>

  <h2>Favorites</h2>
  {% if favorites %}
    <ul>
    {% for favorite in favorites %}
      <li><a href="{% url 'beer:beer_detail' favorite.beer.pk %}">{{ favorite.beer.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>You haven't saved any favorites yet.</p>
  {% endif %}

  <h2>Beer Reviews</h2>
  {% if beer_reviews %}
  <ul>
    {% for review in beer_reviews%}
      <li><a href="{% url 'beer:beer_detail' review.beer.pk %}">{{ review.beer.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  <h2>Location Reviews</h2>
  {% if location_reviews %}
  <ul>
    {% for review in location_reviews%}
      <li><a href="{% url 'location:location_detail' review.location.pk %}">{{ review.location.brewery.name }} in {{ review.location.city }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}