{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>

  <h2>Beer Reviews</h2>
  {% if beer_reviews %}
  <ul>
    {% for review in beer_reviews%}
      <li><a href="{% url 'beer:beer_detail' review.beer.pk %}">{{ review.beer.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  <h2>Location Reviews</h2>
  {% if location_reviews %}
  <ul>
    {% for review in location_reviews%}
      <li><a href="{% url 'location:location_detail' review.location.pk %}">{{ review.location.brewery.name }} in {{ review.location.city }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}