{% extends "base.html" %}

{% block title %}Detail{% endblock %}

{% block content %}
  <h1>Detail</h1>
  <p>{{ brewery.name }}</p>
  <h2>Beers</h2>
  {% if beer_list %}
    <ul>
    {% for beer in beer_list %}
      <li><a href="{% url 'beer:beer_detail' beer.pk %}">{{ beer.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
  {% endif %}
  {% if user.is_authenticated %}
    <p>
      <a href="{% url 'brewery:brewery_update' brewery.pk %}">Update</a> -
      <a href="{% url 'brewery:brewery_delete' brewery.pk %}">Delete</a>
    </p>
  {% endif %}
{% endblock %}