{% extends "base.html" %}

{% block title %}Breweries{% endblock %}

{% block content %}
  <div class="container">
    <h1>Breweries</h1>
    {% if user.is_authenticated %}
      <p><a href="{% url 'brewery:brewery_create' %}">Create</a></p>
    {% endif %}
    {% if brewery_list %}
      <ul>
      {% for brewery in brewery_list %}
        <li><a href="{% url 'brewery:brewery_detail' brewery.pk %}">{{ brewery.name }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No breweries found.</p>
    {% endif %}
  </div>
{% endblock %}