{% extends "base.html" %}

{% block title %}{{ location.brewery.name }}{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ location.brewery.name }}</h1>
    <p>{{ location.street }} {{ location.city }}, {{ location.state }}</p>
    <p><a href="{% url 'brewery:brewery_detail' location.brewery.pk %}">Back to {{ location.brewery.name }}</a></p>

    <h2>Images</h2>
    {% if images %}
      <p><a href="{% url 'location:image_create' location.pk %}">Submit an image</a></p>
      {% for image in images %}
        <img src="{{ image.image.url }}" alt="{{ location.brewery.name }}">
      {% endfor %}
    {% else %}
      <p>No images yet. Submit one <a href="{% url 'location:image_create' location.pk %}">here.</a></p>
    {% endif %}

    <h2>Reviews</h2>
    {% if reviews %}
      <p><a href="{% url 'location:review_create' location.pk %}">Submit a review</a></p>
      <ul>
      {% for review in reviews %}
        <li>{{ review.rating }} by <a href="{% url 'user:user_detail' review.user.pk %}">{{ review.user.username }}</a> on {{ review.created_at.date }}: {{ review.text }}</li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No reviews yet. Submit one <a href="{% url 'location:review_create' location.pk %}">here.</a></p>
    {% endif %}

    <h2>Nearby Locations</h2>
    {% if nearby_locations %}
      <ul>
      {% for location in nearby_locations %}
        <li><a href="{% url 'location:location_detail' location.pk %}">{{ location.street }} {{ location.city }}, {{ location.state }}</a></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No nearby locations found. Add one <a href="{% url 'location:location_create' brewery.pk %}">here.</a></p>
    {% endif %}
  </div>
{% endblock %}