{% extends "base.html" %}

{% block title %}{{ beer.name }}{% endblock %}

{% block content %}
  <h1>{{ beer.name }}</h1>
  <p><a href="{% url 'brewery:brewery_detail' brewery.pk %}">{{ brewery.name }}</a></p>
  <p>Type: {{ beer.type }}</p>
  <p>Style: {{ beer.style }}</p>
  <p>ABV: {{ beer.abv }}</p>
  <p>IBU: {{ beer.ibu }}</p>
  <p>Color: {% if beer.color %}{{ beer.color }}{% else %}Unknown{% endif %}</p>
  <p>Description: {% if beer.description %}{{ beer.description }}{% else %}None{% endif %}</p>

  <h2>Images</h2>
  {% if images %}
    <p><a href="{% url 'beer:image_create' beer.pk %}">Submit an image</a></p>
    {% for image in images %}
      <img src="{{ image.image.url }}" alt="{{ image.beer.name }} by {{ image.user.username }}">
    {% endfor %}
  {% else %}
    <p>No images yet. Submit one <a href="{% url 'beer:image_create' beer.pk %}">here.</a></p>
  {% endif %}

  <h2>Reviews</h2>
  {% if reviews %}
    <p><a href="{% url 'beer:review_create' beer.pk %}">Submit a review</a></p>
    <ul>
      {% for review in reviews %}
        <li>Rated {{ review.rating }} by <a href="{% url 'user:user_detail' review.user.pk %}">{{ review.user.username }}</a> on {{ review.created_at.date }}: {{ review.text }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No reviews yet. Submit one <a href="{% url 'beer:review_create' beer.pk %}">here.</a></p>
  {% endif %}
{% endblock %}